---
import ConsoleLayout from '../layouts/ConsoleLayout.astro';
import DashboardCard from '../components/DashboardCard.svelte';
import DashboardTag from '../components/DashboardTag.svelte';
import { weeklyTrendIndicators } from '../../data/dashboardStats.js';
import { trendingTopics } from '../../data/dashboardStats.js';
import { modelComparison } from '../../data/dashboardStats.js';
const entries = Object.entries(trendingTopics.topic_counts)
  .sort((a, b) => b[1] - a[1]) // sort descending by count
  .slice(0, 10); // limit to top 10;
import { getUrlFromBase } from '@repo/ui/helpers/url.js';
import { getIconUrl } from '@repo/ui/helpers/icons.js';
import TrendingIcon from '../components/TrendingIcon.svelte';
const maxCount = Math.max(...entries.map(([_, count]) => count));
function toTitleCase(str) {
  return str
    .replaceAll('_', ' ')
    .replace(/\w\S*/g, word => word.charAt(0).toUpperCase() + word.slice(1));
}
const rowHeight = 28;
const svgWidth = 600;
const svgHeight = entries.length * rowHeight;
---

<ConsoleLayout title="Dashboard">
  <h1 class="margin-top-0 font-body-md margin-left-05 s">Analytics</h1>
  <div class="ai-dashboard__overview">
    <DashboardCard title="Total Users" titleId="total-users">
      <svelte:fragment slot="actions">
        <div class="card-action-stat">
          <span
            >{
              weeklyTrendIndicators.total_users.pct_change_display.toLocaleString()
            }</span
          >
          <TrendingIcon indicator={weeklyTrendIndicators.total_users} />
        </div>
      </svelte:fragment>
      <p class="metric metric--small margin-bottom-4">
        {weeklyTrendIndicators.total_users.to_date.toLocaleString()}
      </p>
      <svelte:fragment slot="footer">
        <div class="performance">
          <p class="text-bold">
            {weeklyTrendIndicators.total_users.display_text}
            <TrendingIcon indicator={weeklyTrendIndicators.total_users} />
          </p>
          <p>{weeklyTrendIndicators.total_users.subtitle_display_text}</p>
        </div>
      </svelte:fragment>
    </DashboardCard>

    <DashboardCard title="Active Users" titleId="active-users">
      <svelte:fragment slot="actions">
        <div class="card-action-stat">
          <span
            >{
              weeklyTrendIndicators.active_users.pct_change_display.toLocaleString()
            }</span
          >
          <TrendingIcon indicator={weeklyTrendIndicators.active_users} />
        </div>
      </svelte:fragment>
      <p class="metric metric--small">
        {weeklyTrendIndicators.active_users.to_date.toLocaleString()}
      </p>
      <svelte:fragment slot="footer">
        <div class="performance">
          <p class="text-bold">
            {weeklyTrendIndicators.active_users.display_text}
            <TrendingIcon indicator={weeklyTrendIndicators.active_users} />
          </p>
          <p>{weeklyTrendIndicators.active_users.subtitle_display_text}</p>
        </div>
      </svelte:fragment>
    </DashboardCard>

    <DashboardCard title="Total Prompts Used" titleId="total-prompts-used">
      <svelte:fragment slot="actions">
        <div class="card-action-stat">
          <span
            >{
              weeklyTrendIndicators.prompts.pct_change_display.toLocaleString()
            }</span
          >
          <TrendingIcon indicator={weeklyTrendIndicators.prompts} />
        </div>
      </svelte:fragment>
      <p class="metric metric--small">
        {weeklyTrendIndicators.prompts.to_date.toLocaleString()}
      </p>
      <svelte:fragment slot="footer">
        <div class="performance">
          <p class="text-bold">
            {weeklyTrendIndicators.prompts.display_text}
            <TrendingIcon indicator={weeklyTrendIndicators.prompts} />
          </p>
          <p>{weeklyTrendIndicators.prompts.subtitle_display_text}</p>
        </div>
      </svelte:fragment>
    </DashboardCard>

    <DashboardCard title="Token Costs" titleId="token-costs">
      <svelte:fragment slot="actions">
        <div class="card-action-stat">
          <span
            >{
              weeklyTrendIndicators.token_costs.pct_change_display.toLocaleString()
            }</span
          >
          <TrendingIcon indicator={weeklyTrendIndicators.token_costs} />
        </div>
      </svelte:fragment>
      <p class="metric metric--small">
        ${weeklyTrendIndicators.token_costs.to_date.toLocaleString()}
      </p>
      <svelte:fragment slot="footer">
        <div class="performance">
          <p class="text-bold">
            {weeklyTrendIndicators.token_costs.display_text}
            <TrendingIcon indicator={weeklyTrendIndicators.token_costs} />
          </p>
          <p>{weeklyTrendIndicators.token_costs.subtitle_display_text}</p>
        </div>
      </svelte:fragment>
    </DashboardCard>

    <!-- <DashboardCard title="Model Evaluation" titleId="model-evaluation">
      <svelte:fragment slot="actions">
        <label for="MMLU" class="usa-sr-only">Select Time Range</label>
        <select id="MMLU">
          <option selected>MMLU</option>
          <option>Claude Sonnet 3.7</option>
          <option>Claude Sonnet 3.5 v2</option>
        </select>
        <button>View More</button>
      </svelte:fragment>
      <svelte:fragment slot="data-viz">
        <img
          class="padding-top-2"
          src=`${getUrlFromBase('/assets/images/data_viz_radar.png')}`
          alt="Data viz radar"
        />
      </svelte:fragment>
    </DashboardCard> -->

    <!-- <DashboardCard title="Model Ranking" titleId="model-ranking">
      <ol class="ai-dashboard-list ai-dashboard-list--large">
        <li>
          Claude Sonnet 3.5 v2
          <div class="performance">
            <span>4.85%+</span>
            <img class="icon" src=`${getIconUrl('trending_up')}` alt="" />
          </div>
        </li>
        <li>
          Claude Sonnet 3.7
          <div class="performance">
            <span>2.6%+</span>
            <img class="icon" src=`${getIconUrl('trending_up')}` alt="" />
          </div>
        </li>
        <li>
          Gemini 2.5 Pro
          <div class="performance">
            <span>1.8%+</span>
            <img class="icon" src=`${getIconUrl('trending_up')}` alt="" />
          </div>
        </li>
      </ol>
    </DashboardCard> -->

    <DashboardCard
      title="Model Comparison"
      titleId="trending-topics"
      halfWidth={true}
    >
      <svelte:fragment slot="actions"></svelte:fragment>
      <svelte:fragment slot="data-viz">
        <p class="margin-top-0 font-body-2xs">Top 10 topics by prompt count</p>
        <svg viewBox="0 0 300 300" width="300" height="300">
          <g transform="translate(150, 150)">
            <!-- Axes -->
            <g stroke="#ccc">
              <line x1="0" y1="0" x2="0" y2="-100"></line>
              <line x1="0" y1="0" x2="95" y2="-31"></line>
              <line x1="0" y1="0" x2="59" y2="81"></line>
              <line x1="0" y1="0" x2="-59" y2="81"></line>
              <line x1="0" y1="0" x2="-95" y2="-31"></line>
            </g>

            <!-- Labels -->
            <text x="0" y="-110" text-anchor="middle">Business</text>
            <text x="100" y="-30" text-anchor="start">Coding</text>
            <text x="65" y="95" text-anchor="start">Reading</text>
            <text x="-65" y="95" text-anchor="end">Safeguards</text>
            <text x="-100" y="-30" text-anchor="end">FAR</text>

            <!-- Polygon for Haiku -->
            <polygon
              fill="rgba(0, 123, 255, 0.3)"
              stroke="#007bff"
              stroke-width="1"
              points="
              0,-65
              70,-23
              53,73
              -55,75
              -57,-19
            "
            ></polygon>

            <!-- Polygon for Sonnet -->
            <polygon
              fill="rgba(255, 99, 132, 0.3)"
              stroke="#ff6384"
              stroke-width="1"
              points="
              0,-85
              74,-24
              53,73
              -55,75
              -76,-25
            "
            ></polygon>
          </g>
        </svg>
      </svelte:fragment>
    </DashboardCard>

    <DashboardCard
      title="Trending Topics"
      titleId="trending-topics"
      halfWidth={true}
    >
      <svelte:fragment slot="actions"></svelte:fragment>
      <svelte:fragment slot="data-viz">
        <p class="margin-top-0 font-body-2xs">Top 10 topics by prompt count</p>

        <svg
          viewBox={`0 0 ${svgWidth} ${svgHeight}`}
          width="100%"
          height="auto"
          preserveAspectRatio="xMinYMin meet"
        >
          {
            entries.map(([label, count], i) => {
              const yOffset = i * rowHeight;
              const barWidth = (count / entries[0][1]) * 400;
              const labelPadding = 150;

              return (
                <>
                  <text x="0" y={yOffset + 25} font-size="12">
                    {toTitleCase(label)}
                  </text>
                  <rect
                    x={labelPadding}
                    y={yOffset + 10}
                    width={barWidth}
                    height="20"
                    fill="var(--ai-color-blue-400)"
                    rx="4"
                    ry="4"
                  />
                  <text
                    x={labelPadding + barWidth + 8}
                    y={yOffset + 25}
                    font-size="12"
                  >
                    {count.toLocaleString()}
                  </text>
                </>
              );
            })
          }
        </svg>
      </svelte:fragment>
    </DashboardCard>

    <DashboardCard
      title="Trending Topics"
      titleId="trending-topics"
      fullWidth={true}
    >
      <svelte:fragment slot="actions">
        <button>View all</button>
      </svelte:fragment>
      <div class="ai-dashboard-tag-cloud">
        <DashboardTag tagText="It Services" />
        <DashboardTag tagText="Cloud infrastructure" />
        <DashboardTag tagText="508 Compliance" />
        <DashboardTag tagText="Supply chain management" />
        <DashboardTag tagText="Performance metrics" />
        <DashboardTag tagText="Innovation initiatives" />
        <DashboardTag
          tagText="Procurement trends"
          onClick={() => console.log('Clicked!')}
          client:only="svelte"
        />
      </div>
    </DashboardCard>
  </div>
</ConsoleLayout>

<style>
  .ai-dashboard__overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--ai-size-32);
    margin-bottom: var(--ai-size-32);
    gap: var(--ai-size-32);
    margin-bottom: var(--ai-size-32);
  }

  @media (min-width: 87.5rem) {
    .ai-dashboard__overview {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 75rem) {
    .ai-dashboard__overview {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .ai-dashboard-tag-cloud {
    padding: var(--ai-size-16) 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--ai-size-32);
  }
  .ai-dashboard-tag-cloud {
    padding: var(--ai-size-16) 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--ai-size-32);
  }
</style>
